<% content_for :page_title, "Restaurant Recommendations" %>

<%= form_with url: recommendations_path, method: :post, local: true do |form| %>
  <div>
  <%= render "govuk_publishing_components/components/input", {
        label: { text: "Enter your Preferences (separated by comma)" },
        name: "preferences",
      } %>
<div class="govuk-form-group">
  <%= render "govuk_publishing_components/components/button", { text: "Submit", type: "submit" } %>
</div>
<% end %>

<% if @recommendations.present? %>
  <h2>Recommendations:</h2>
  <ul>
    <% @recommendations.each do |recommendation| %>
      <li><%= recommendation %></li>
    <% end %>
  </ul>
<% end %>
